= form.text_area field.method_name, { :'data-richtext' => 'redactor', :'data-options' => field.options.to_json, value: field.form_value }.merge(field.html_attributes)

:javascript
  (function() {
    $(document).on('rails_admin.dom_ready', function() {
      var $redactorTextareas = $('textarea[data-richtext=redactor]:not(.redactor-initialized)');
      if($redactorTextareas.length > 0) {
        if($.fn.redactor) {
          onRedactorReady();
        }
      }
    });

    var onRedactorReady = function() {
      $('textarea[data-richtext=redactor]:not(.redactor-initialized)').each(function() {
        var $redactorTextarea = $(this);
        var options = $redactorTextarea.data('options');

        csrf_token = $('meta[name=csrf-token]').attr('content');
        csrf_param = $('meta[name=csrf-param]').attr('content');
        if csrf_param != undefined && csrf_token != undefined {
          params = csrf_param + "=" + encodeURIComponent(csrf_token);
        }

        $redactorTextarea.addClass('redactor-initialized').redactor(options);
      });
    };
  })();